:root {
  --primary-color: #14578B;
  --secondary-color: #20d3b5;
  --hover-color: #ffcc00;
  --dropdown-bg: #f8f9fa;
  --dropdown-hover-bg: #e2e6ea;
  --footer-bg: #14578B;
  --footer-text-color: #ffffff;
}

.navbar {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  z-index: 10;
}

.navbar .container-fluid {
  max-width: 100%;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav .nav-item {
  margin: 0 5px;
  width: 100%;
}

.navbar-brand {
  margin: 0 10px;
}

.nav-link {
  margin-right: 10px;
  color: #ffffff;
  transition: color 0.3s ease;
  font-family: 'Roboto Slab', serif; /* Cambia a Roboto Slab */
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
}

.nav-link:hover {
  color: var(--hover-color);
}

.dropdown-menu {
  background-color: var(--dropdown-bg);
}

.dropdown-item:hover {
  background-color: var(--dropdown-hover-bg);
  transition: background-color 0.3s ease;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 991px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .navbar-nav {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
  }

  .nav-link {
    display: block;
    text-align: left;
  }
}

/* Media queries adicionales para tabletas */
@media (max-width: 768px) {
  .nav-link {
    font-size: 14px;
  }

  .navbar {
    padding: 0.5rem;
  }
}

/* Estilos para el footer */
footer {
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  padding: 24px;
  text-align: center;
  overflow: hidden;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-logo img {
  max-height: 50px;
  width: auto;
}

.ico {
  margin-right: 16px;
}

.ico:last-child {
  margin-right: 0;
}

.logo {
  padding: 0 8px;
}

.navbar-brand img {
  transition: transform 0.3s ease;
}

.navbar-brand:hover img {
  transform: scale(1.1);
}

/* Estilos para la navbar en pantallas grandes */
@media (min-width: 992px) {
  .navbar-nav {
    flex-direction: row; /* Disposición horizontal para pantallas grandes */
    justify-content: center;
  }

  .navbar-nav .nav-item {
    margin: 0 10px;
  }
}

/* Títulos y textos de inicio */
.inicio-title {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 700; /* Semibold */
  margin-bottom: 16px;
}

.inicio-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400; /* Regular */
  margin-bottom: 8px;
  text-align: left; /* Alinear el subtítulo a la izquierda */
}

.inicio-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* Estilo de imágenes en inicio */
.inicio img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
  
}

/* Reseña */
.reseña-wrapper {
  max-width: 100%; /* Se ajusta al contenedor padre */
  margin: 0 auto; /* Centra el contenedor en la columna */
  padding: 16px; /* Espacio interno del contenedor */
  display: flex; /* Activar Flexbox */
  flex-direction: column; /* Colocar elementos en columna */
}

.reseña-content {
  display: flex; /* Hacer que el contenedor de imagen y texto esté alineado */
  align-items: center; /* Centrar verticalmente */
  justify-content: space-between; /* Espacio entre imagen y texto */
}

.reseña-imagen {
  flex: 1 1 40%; /* Crece, se encoge y ocupa un 40% del espacio disponible */
  max-width: 100%; /* Evita que la imagen desborde el contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-right: 16px; /* Espacio entre la imagen y el texto */
}

.reseña-text {
  flex: 2 1 60%; /* Crece, se encoge y ocupa un 60% del espacio disponible */
  display: flex; /* Hacer que el texto también use Flexbox */
  flex-direction: column; /* Alinear el texto en columna */
  justify-content: center; /* Centrar el texto verticalmente */
}

/* Estilo de las imágenes dentro de la sección de reseña */
.reseña-imagen img {
  width: 100%;          /* La imagen se ajustará al ancho del contenedor */
  height: auto;        /* Mantiene la proporción de la imagen */
  max-width: 800px;    /* No excederá 800px de ancho */
  max-height: 800px;   /* No excederá 800px de alto */
  border-radius: 8px;  /* Bordes redondeados */
}

  

/* Asegurarte de que el texto sea responsivo */
.inicio-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Tamaño base */
  line-height: 1.6;
  padding: 8px; /* Espaciado interno para el texto */
}

/* Media queries para ajustar el tamaño del texto en pantallas más pequeñas */
@media (max-width: 768px) {
  .reseña-text {
    font-size: 14px; /* Disminuir el tamaño del texto */
  }
  .reseña-imagen {
    margin-right: 8px; /* Ajustar margen para pantallas pequeñas */
  }
}

/* Ajustes para pantallas de 992px a 1148px */
@media (min-width: 992px) and (max-width: 1148px) {
  .reseña-content {
    flex-direction: column; /* Cambia a columna para evitar desbordamiento */
    align-items: stretch; /* Asegúrate que los elementos se estiren al máximo */
  }

  .reseña-imagen {
    max-width: 100%; /* Se asegura que la imagen no desborde */
    margin: 0; /* Elimina margen si causa desbordamiento */
  }

  .reseña-text {
    padding: 0 16px; /* Añade padding horizontal para separación */
  }

  .inicio-title {
    font-size: 28px; /* Ajusta el tamaño del texto en pantallas medianas */
  }

  .inicio-subtitle {
    font-size: 16px; /* Ajusta el tamaño del texto en pantallas medianas */
  }

  .inicio-text {
    font-size: 14px; /* Ajusta el tamaño del texto en pantallas medianas */
  }
}

.card-title{
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: 600; /* Semibold */
    margin-bottom: 16px;
  }
.card-text{
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Tamaño base */
  line-height: 1.6;
  padding: 8px; /* Espaciado interno para el texto */
}

.sesion-title{
  font-family: 'Roboto', sans-serif;
  font-size: 32px; /* Tamaño base */
  line-height: 1.6;
  padding: 8px; /* Espaciado interno para el texto */
  font-weight: 600;
}

