/* Variables de color */
:root {
  --primary-color: #14578B;
  --secondary-color: #20d3b5;
  --hover-color: #ffcc00;
  --dropdown-bg: #f8f9fa;
  --dropdown-hover-bg: #e2e6ea;
  --footer-bg: #14578B;
  --footer-text-color: #ffffff;
}
body {
  overflow-x: hidden;
}

/* Contenedor principal */
#mantenimiento {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten a varias filas */
}

/* Estilos globales para el cuerpo del documento */
body {
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

/* Estilo para encabezados de títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.2;
    color: #003f5f;
}

h1 {
    font-size: 36px;
    font-weight: 700; /* Bold */
}

h2 {
    font-size: 32px;
    font-weight: 600; /* Semi-bold */
}

h3 {
    font-size: 28px;
    font-weight: 400; /* Regular */
}

h4 {
    font-size: 24px;
    font-weight: 400; /* Regular */
}

h5 {
    font-size: 20px;
    font-weight: 400; /* Regular */
}

h6 {
    font-size: 18px;
    font-weight: 400; /* Regular */
}

/* Párrafo */
p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #444;
    line-height: 1.6;
}

/* Estilos para títulos y texto en tarjetas */
.card-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 24px;
    color: #0054b2;
    margin-bottom: 0.5rem;
    line-height: 1.3;
}

/* Estilos para títulos y texto en tarjetas */
.card-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 24px;
  color: #0054b2;
  margin-bottom: 0.5rem;
  line-height: 1.3;
  
}


.card-subtitle {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-bottom: 0.4rem;
    line-height: 1.3;
}

.card-text {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    margin-bottom: 0.6rem;
    line-height: 1.5;
}

.custom-paragrahp {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
  margin-bottom: 0.6rem;
  line-height: 1.5;
}


/* Estilos de diseño para contenedores de tarjetas */
.card {
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-bottom: 1rem;
}



/* Efecto hover en tarjetas */
.card:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

/* Contenedor general y espacio entre secciones */
.container, .wrapper {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
}


/* Estilos para el contenido del card */
.card-body {
  text-align: center;
}

.card-subtitle {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* Contenedor que controla el tamaño del video y permite aplicar el borde redondeado */
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 12px; /* Aplica el borde redondeado al contenedor */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra para el contenedor */
}

/* Estilos para el elemento de video */
.video-container .video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px; /* Borde redondeado directamente en el video */
}

/* Ajustar el tamaño de las imágenes */
.card .card-img-top {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 300px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Mantiene la relación de aspecto y rellena el espacio */
}

/* Estilo general del contenedor del acordeón */
#accordionExample {
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
}

/* Estilos para cada tarjeta del acordeón */
#accordionExample .card {
  border: none;
  border-bottom: 1px solid #ddd;
}

/* Estilo para el encabezado de cada tarjeta */
#accordionExample .card-header {
  background-color: #f8f9fa;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}

/* Estilo del botón del encabezado */
#accordionExample .card-header .btn-link {
  color: #007bff;
  text-decoration: none;
  font-size: 1.1em;
}

/* Estilo del cuerpo de cada sección */
#accordionExample .collapse .card-body {
  background-color: #ffffff;
  padding: 15px;
  font-size: 0.95em;
  font-family: 'Roboto slab',sans-serif;
  color: #555;
}

/* Transición para abrir/cerrar el acordeón */
#accordionExample .collapse {
  transition: all 0.3s ease;
}

/* Estilo cuando la sección está activa */
#accordionExample .collapse.show .card-body {
  background-color: #f1f1f1;
}

/* Estilos para el texto */
.card-text {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

/* Ajustes para responsive */
@media (max-width: 768px) {
  #videos .col-lg-3, #videos .col-lg-6 {
      margin-bottom: 20px;
  }
}


/* Estilos adicionales para formulario compacto */
.form-contact {
    background-color: rgba(0, 84, 154, 0.1); /* Fondo semitransparente */
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-contact h2 {
    color: rgba(0, 84, 154, 1);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

/* Botones */
button[type="submit"] {
    background-color: #0054b2;
    color: #fff;
    border: none;
}

button[type="reset"] {
    background-color: #d9534f;
    color: #fff;
    border: none;
}

/* Espaciado en botones */
button[type="submit"], button[type="reset"] {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #004490;
}

button[type="reset"]:hover {
    background-color: #c9302c;
}

/* Navbar */
.navbar {
  position: sticky; /* Asegura que la barra de navegación se quede pegada al hacer scroll */
  top: 0; /* Se queda en la parte superior de la página */
  width: 100%;
  padding: 0.8rem; /* Reducir el padding */
  background-color: var(--primary-color);
  z-index: 1050; /* Asegúrate de que esté por encima de otros elementos */
}

/* Estilo para el contenedor wrapper */
.wrapper {
  background-color: rgba(0, 84, 154, 1); /* Color de fondo */
  padding: 16px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 500px; /* Borrar Ancho máximo */
  margin: auto; /* Centrado en la página */
  overflow: visible; /* Asegúrate de que el contenedor no restrinja el desplazamiento */
}

/* Navbar */
.form-contact {
  background-color: rgba(238, 238, 238, 1);
  border-radius: 16px;
}

/* Estilos específicos para el formulario de búsqueda */
.search-form {
  max-width: 200px;  /* Limitar el ancho del formulario de búsqueda */
}

.search-input {
  width: 80%;  /* Ajustar el tamaño del campo de entrada */
  padding: 5px 10px;  /* Ajustar el relleno */
}

.search-button {
  padding: 5px 15px;  /* Ajustar el tamaño del botón */
}

.navbar-toggler {
  background-color: #e2e6ea;
  color: white;
}

.navbar .container-fluid {
  max-width: 100%;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky-top {
  z-index: 1050; /* Asegúrate de que esté por encima de otros elementos */
}

.navbar-nav .nav-item {
  margin: 0 5px;
  width: 100%;
}

.nav-link {
  margin-right: 10px;
  color: #ffffff;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 12px; /* Reducción de tamaño de los enlaces */
  
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
  background-color: rgba(255, 204, 0, 0.1);
}

/* Estilos específicos para el formulario de búsqueda en la navbar */
.navbar .navbar-form {
  display: flex;
  align-items: center;
}

.navbar .navbar-form .form-control {
  width: 200px; /* Reducir el ancho del campo de búsqueda */
  border-radius: 5px; /* Bordes redondeados */
}

.navbar .navbar-form .btn {
  border-radius: 5px; /* Bordes redondeados */
}

/* Evitar que los estilos globales afecten el formulario de búsqueda */
.navbar .navbar-form input.form-control,
.navbar .navbar-form button.btn {
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #ccc; /* Borde gris claro */
}

.navbar .navbar-form button.btn-outline-success {
  color: #28a745; /* Color del texto del botón */
  border-color: #28a745; /* Color del borde del botón */
}

.navbar .navbar-form button.btn-outline-success:hover {
  background-color: #28a745; /* Fondo verde al pasar el cursor */
  color: white; /* Color de texto blanco al pasar el cursor */
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}


footer {
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  padding: 15px 0;  /* Padding ajustado para el footer */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto; /* Empuja el footer hacia abajo */
  margin-bottom: 0; /* Elimina espacio debajo del footer */
}

footer .container-fluid {
  padding: 0; /* Elimina el padding extra */
  margin-bottom: 0; /* Elimina el margen inferior */
  width: 100%; /* Asegura que ocupe todo el ancho */
}

footer .content {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

footer, footer * {
  margin: 0; /* Eliminar márgenes */
}



/* Estilos globales para el cuerpo del documento, excluyendo el footer */
body :not(footer) {
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Encabezados fuera del footer */
body :not(footer) h1,
body :not(footer) h2,
body :not(footer) h3,
body :not(footer) h4,
body :not(footer) h5,
body :not(footer) h6 {
    font-family: 'Roboto Slab', serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.2;
    color: #003f5f;
}

body :not(footer) h1 {
    font-size: 36px;
    font-weight: 700; /* Bold */
}

body :not(footer) h2 {
    font-size: 32px;
    font-weight: 600; /* Semi-bold */
}

body :not(footer) h3 {
    font-size: 28px;
    font-weight: 400; /* Regular */
}

body :not(footer) h4 {
    font-size: 24px;
    font-weight: 400; /* Regular */
}

body :not(footer) h5 {
    font-size: 20px;
    font-weight: 400; /* Regular */
}

body :not(footer) h6 {
    font-size: 18px;
    font-weight: 400; /* Regular */
}

/* Párrafos fuera del footer */
body :not(footer) p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #fdfdfd;
    line-height: 1.6;
}

/* Estilos para títulos y texto en tarjetas, excluyendo el footer */
body :not(footer) .card-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 24px;
    color: #0054b2;
    margin-bottom: 0.5rem;
    line-height: 1.3;
}



body :not(footer) .card-subtitle {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 20px;
    color: #333333;
    margin-bottom: 0.4rem;
    line-height: 1.3;
}

body :not(footer) .card-text {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    margin-bottom: 0.6rem;
    line-height: 1.5;
}

/* Estilos de diseño para contenedores de tarjetas fuera del footer */
body :not(footer) .card {
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-bottom: 1rem;
}

body :not(footer) .card:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

/* Botones */
button[type="submit"] {
    background-color: #0054b2;
    color: #fff;
    border: none;
}

button[type="reset"] {
    background-color: #d9534f;
    color: #fff;
    border: none;
}

button[type="submit"], button[type="reset"] {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #004490;
}

button[type="reset"]:hover {
    background-color: #c9302c;
}

/* Redes sociales en el footer */
footer .redes-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  color: #fafafa;
}

footer .redes-social a {
  color: #fafafa;
  font-size: 18px; /* Reducción de tamaño de los íconos */
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .redes-social a:hover {
  color: var(--hover-color);
}

/* Ajustes específicos en dispositivos pequeños */
@media (max-width: 576px) {
  footer .content {
    font-size: 12px;
  }
  footer .redes-social a {
    font-size: 18px;
  }
}

/* Media Queries adicionales */
@media (max-width: 768px) {
  .content {
    font-size: 14px;
  }

  footer .social a {
    font-size: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1148px) {
  .reseña-content {
    flex-direction: column;
    align-items: stretch;
  }

  .reseña-imagen {
    max-width: 100%;
    margin: 0;
  }
}
